.wallet-card {
    width: 21.5em;
    height: 13.5em;

    border-radius: 4%/6.5%;
    overflow: hidden;

    /* for testing */
	background-color: white;
    transition: 0.6s;
}

.wallet-card:hover {
    background-color: black;
    color: white;
    transition: 0.6s;
}

.wallet-card-desc {
    width: 21.5em;
}